{% extends 'modal.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% set modal_name = 'override' %}
{% set modal_title = 'Исправление слова' %}
{% set modal_save_label = 'Отправить' %}

{% set modal_body_style = 'pb-1' %}

{% block modal_body %}
    <div class="row mh-0 br-word">
        <div class="col-xs-12 col-sm-6">
            <div>Слово <strong>{{'{{override.word}}'}}</strong>:</div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_approved">
                    Общее?
                </label>
            </div>

            <div class="form-group ml-3 check-inside" ng-if="override.with_approved">
                <label class="radio-inline">
                    <input type="radio" ng-model="override.approved" value="1"> Общее
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="override.approved" value="0"> Личное
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_mature">
                    Не для детей?
                </label>
            </div>

            <div class="form-group ml-3 check-inside" ng-if="override.with_mature">
                <label class="radio-inline">
                    <input type="radio" ng-model="override.mature" value="1"> Для взрослых
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="override.mature" value="0"> Для детей
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.disabled">
                    Отключить
                </label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_word_correction" ng-change="focusWordCorrection()">
                    Исправить слово...
                </label>
            </div>

            <div class="form-group" ng-if="override.with_word_correction">
                <input type="text" id="overrideWordCorrection" placeholder="правильное слово" class="form-control" maxlength="{{ word_max_length }}" required ng-model="override.word_correction" />
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_pos_correction">
                    Исправить части речи...
                </label>
            </div>

            <div class="form-group ml-3 check-inside" ng-if="override.with_pos_correction">
                {% for pos in parts_of_speech %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="override.pos_correction">
                            {{ translate(pos.shortName) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
