{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}

{% set with_datatables = true %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <header>
                <h1>{{ title }}</h1>
            </header>
        </div>

        <div class="panel-body table-responsive">
            <table id="words-table" class="display table table-striped mb-0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Слово</th>
                        <th>Язык</th>
                        <th>Добавил/а</th>
                        <th>Дата добавления</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block more_js %}
    <script>
        $('#words-table').DataTable({
            dom: "<'row'<'col-sm-12'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-6'i><'col-sm-6'l>><'row'<'col-sm-12'p>>", //'ftrilp',
            language: {
                url: '{{ folders.global }}datatables/ru.json'
            },
            serverSide: true,
            orderMulti: false,
            ajax: '{{ api }}public/words?format=dt',
            order: [[4, 'desc']],
            rowId: 'id',
            columns: [
                {
                    data: 'id',
                    searchable: false
                },
                {
                    data: 'word',
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            return '<a class="ellipsis w-200" href="' + row.url + '">' + data + '</a>';
                        }

                        return data;
                    }
                },
                {
                    data: 'language.name',
                    searchable: false,
                    orderable: false
                },
                {
                    data: 'creator.name',
                    searchable: false,
                    orderable: false
                },
                {
                    data: 'created_at',
                    searchable: false,
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            return moment(data).format('DD.MM.Y HH:mm');
                        }

                        return moment(data).format('X');
                    }
                }
            ]
        });
    </script>
{% endblock %}
