{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}

{% set no_disqus = true %}
{% set with_datatables = true %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <header>
                <h1>{{ title }}</h1>
            </header>
        </div>

        <div class="panel-body table-responsive">
            <table id="words-table" class="display table table-striped mb-0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Слово</th>
                        <th>Язык</th>
                        <th>Добавил/а</th>
                        <th>Дата добавления</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block more_js %}
    <script>
        let spinnerShown = false;

        $('#words-table').DataTable({
            dom: "<'row'<'col-sm-12'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-6'i><'col-sm-6'l>><'row'<'col-sm-12'p>>", //'ftrilp',
            language: {
                url: '{{ folders.global }}datatables/ru.json'
            },
            serverSide: true,
            orderMulti: false,
            ajax: {
                url: '{{ api }}public/words',
                beforeSend: function() {
                    if (spinnerShown) {
                        return;
                    }

                    $('#words-table > tbody').html(
                        '<tr class="even">' +
                        '<td valign="top" colspan="5" class="dataTables_empty"><i class="fas fa-yin-yang fa-spin fa-2x"></i></td>' +
                        '</tr>'
                    );

                    spinnerShown = true;
                }
            },
            order: [[4, 'desc']],
            rowId: 'id',
            columns: [
                {
                    name: 'id',
                    data: 'id',
                    searchable: false
                },
                {
                    name: 'word',
                    data: 'word',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<a class="ellipsis w-200" href="' + row.url + '">' + data + '</a>';
                        }

                        return data;
                    }
                },
                {
                    name: 'language.name',
                    data: 'language.name',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'creator.name',
                    data: 'creator.name',
                    searchable: false,
                    orderable: false
                },
                {
                    name: 'created_at',
                    data: 'created_at',
                    searchable: false,
                    render: function (data, type, row) {
                        const format = (type === 'display' || type === 'filter')
                            ? 'DD.MM.Y HH:mm'
                            : 'X';

                        return moment(data).format(format);
                    }
                }
            ]
        });
    </script>
{% endblock %}
