<div class="panel panel-secondary">
    <div class="panel-body center">
        <div class="mb-2">ะะพะดะดะตัะถะฐัั ะฟัะพะตะบั:</div>
        <div>
            ๐งธ <a href="https://pay.cloudtips.ru/p/064a10db">ะะท ะะพััะธะธ</a><br />
            ๐ <a href="https://www.buymeacoffee.com/kapxapot">ะะท-ะทะฐ ััะฑะตะถะฐ</a>
        </div>
    </div>
</div>
