<div class="panel-secondary-heading">Игра</div>
<div class="panel panel-secondary">
    <div class="panel-body">
        <div class="vgap-2"><strong>Язык:</strong> {{ language.name }}</div>

        <div id="language-stats" class="deferred-load"></div>
    </div>
</div>

<div class="panel-secondary-heading">Новые слова</div>
<div class="panel panel-secondary">
    <div id="latest-words" class="panel-body br-word deferred-load"></div>
</div>

<div class="panel-secondary-heading">Новые ассоциации</div>
<div class="panel panel-secondary">
    <div id="latest-associations" class="panel-body deferred-load"></div>
</div>
