<div class="panel panel-secondary">
    <div class="panel-body center flex flex-v" style="gap: 1rem;">
        <div><b>Наши проекты:</b></div>
        <div class="flex flex-wrap flex-jc-center" style="gap: 1rem;">
            <a href="https://mapfolks.com">Mapfolks</a>
            <a href="https://timezoned.app">Timezoned</a>
            <a href="https://t.me/BrightwoodBot">Яркие Истории</a>
            <a href="https://t.me/GPToid_Bot">GPToid</a>
            <a href="https://kari.photo">kari.photo</a>
        </div>
        <div class="flex flex-wrap flex-jc-center" style="gap: 1rem;">
            <a href="https://grimdawn.ru"><img src="https://warcry.ru/images/grimdawn1.gif" alt="grimdawn.ru - Action RPG в стиле Diablo"></a>
            <a href="https://dacomics.ru"><img src="https://dacomics.ru/images/button.gif" alt="dacomics.ru - Комиксы по Dragon Age и другим играм"></a>
        </div>
    </div>
</div>
