<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" cacheResult="false">
    <testsuites>
        <testsuite name="Associations">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Brightwood">
            <directory>brightwood_tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>brightwood</directory>
            <exclude>
                <directory suffix="Interface.php">.</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
