{% import 'main/local_macros.twig' as lm %}

<ul class="mb-0 pl-3">
    {% for assoc in associations %}
        <li>
            {{ lm.association(assoc) }}{% if assoc.creator %}<span class="ml-1">{{ lm.user(_context, assoc.creator) }}</span>{% endif %}
        </li>
    {% endfor %}
</ul>
