<div class="vgap-2 br-word flex flex-wrap flex-h-gap-3">
    {% for assoc in associations %}
        <span>
            {% include 'components/association.twig' with { 'association': assoc, 'by_word': word, 'headless': true } only %}

            {% if assoc.usageCount > 1 %}
                ({{ assoc.usageCount }})
            {% endif %}
        </span>
    {% endfor %}
</div>
