{% import 'main/local_macros.twig' as lm %}

<div class="vgap-2 br-word flex flex-wrap flex-h-gap-2 flex-v-gap-1">
    {% for assoc in associations %}
        <span class="label {{ lm.scope_class(assoc) }}">
            {% include 'components/association.twig' with { 'association': assoc, 'by_word': word, 'headless': true } only %}

            {% if assoc.usageCount > 1 %}
                ({{ assoc.usageCount }})
            {% endif %}
        </span>
    {% endfor %}
</div>
