{% if not no_game_link %}
    <a href="{{ path_for('main.game', { 'id': game.id }) }}" data-toggle="tooltip" title="Игра #{{ game.id }}">#{{ game.id }}</a>:
{% endif %}

{% for turn in game.turns.reverse %}
    {% if not loop.first %}
        {% include 'components/association.twig' with { 'association': turn.association, 'short': true, 'is_not_native': not turn.isNative } only %}
    {% endif %}

    {% include 'components/turn_word.twig' with { 'turn': turn, 'show_utterance': show_utterance } only %}
{% endfor %}
