{% import 'main/local_macros.twig' as lm %}

<ul class="vgap-2 br-word">
    {% for assoc in associations %}
        <li>
            {% if assoc.isJunky %}<s>{% endif %}{{ lm.association(assoc, assoc.anchor ?? word) }}{% if assoc.isJunky %}</s>{% endif %}

            {% if assoc.hasAnchor %}
                {{ assoc.log }}
            {% endif %}

            {% for user in assoc.extendedUsers %}
                {% include 'components/user.twig' with { 'user': user } %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
