{% import 'main/local_macros.twig' as lm %}

{% for word in words %}
    <li>
        {% include 'components/word.twig' %}{% if word.creator %}<span class="ml-1">{{ lm.user(word.creator) }}</span>{% endif %}
    </li>
{% endfor %}
