<ul class="mb-0 pl-3">
    {% for word in words %}
        <li>
            {% include 'components/word.twig' %}{% if word.creator %}<span class="ml-1">{% include 'components/user.twig' with { 'user': word.creator } %}</span>{% endif %}
        </li>
    {% endfor %}
</ul>
