.panel-title h1 {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 100%;
}

.panel-heading.panel-title {
    background: linear-gradient(to right, #3f2f73, #672929);
}

#main .breadcrumbs {
    padding-top: 4px;
    padding-bottom: 3px;
}

.turn-label a {
    color: var(--white);
    text-decoration: none;
}

.assoc-arrow {
    color: var(--gray-3);
}

.assoc-arrow--dimmed {
    color: var(--gray-6);
}

a.assoc-arrow {
    text-decoration: none;
}

span.inactive,
a.inactive,
a.inactive:hover,
a.inactive:focus {
    color: var(--gray-9);
}

/* words index */

#words-table_wrapper .dataTables_paginate {
    margin-top: 1rem;
}

.dataTable {
    margin-bottom: 1rem !important;
}

.problems,
.danger-color {
    color: indianred;
}

.action-color {
    color: blue;
}

.success-color {
    color: rgb(32, 204, 32);
}

.telegram-color {
    color: #2e8ddf;
}

.kid-color {
    color: #74c074;
}

.dendro-color {
    color: #44af44;
}

.avatar--big {
    width: 40px;
    height: 40px;
}

/* logo */

.textlogo {
    position: relative;
    width: 157px;
}

.textlogo > * {
    position: absolute;
}

.textlogo__bg {
    background: #7b1c1c;
    width: 36px;
    height: 36px;
    left: -10px;
    top: 1px;
    border-radius: 5px;
    transform: rotate(-10deg);
}

/* tooltip */

.tooltip-inner {
    max-width: 300px;
    word-break: break-word;
}

/* footer */

.social-links img,
.social-links svg {
    width: 32px;
    height: 32px;
    vertical-align: top;
}

/* alice & sber */

:root {
    --color-alice-start: #c926ff;
    --color-alice-end: #4a26ff;
    --color-alice-inner: #ffffff;

    --color-sber-1: #f2e913;
    --color-sber-1-1: #a3cd39;
    --color-sber-2: #0c8acb;
    --color-sber-2-1: #21a038;
}

.alice-start {
    stop-color: var(--color-alice-start);
}

.alice-end {
    stop-color: var(--color-alice-end);
}

.sber-stop-1 {
    stop-color: var(--color-sber-1);
}

.sber-stop-1-1 {
    stop-color: var(--color-sber-1-1);
}

.sber-stop-2 {
    stop-color: var(--color-sber-2);
}

.sber-stop-2-1 {
    stop-color: var(--color-sber-2-1);
}

.social-links {
    --color-alice-start: currentColor;
    --color-alice-end: currentColor;
    --color-alice-inner: transparent;

    --color-sber-1: currentColor;
    --color-sber-1-1: currentColor;
    --color-sber-2: currentColor;
    --color-sber-2-1: currentColor;
}

.alice-inline svg,
.alice-inline img,
.sber-inline svg,
.sber-inline img {
    width: 16px;
    height: 16px;
}

.alice-inline svg,
.sber-inline svg {
    margin-bottom: -2px;
}

.alice-avatar svg,
.alice-avatar img,
.sber-avatar svg,
.sber-avatar img {
    width: 22px;
    height: 22px;
}

.alice-avatar svg,
.sber-avatar svg {
    margin-bottom: -6px;
}

/* img/svg */

.large-inline svg,
.large-inline img,
.sidebar-links svg,
.sidebar-links img {
    width: 32px;
    height: 32px;
}

.sidebar-links img,
.sidebar-links svg {
    vertical-align: middle;
}

/* modals */

.checkbox + .check-inside {
    margin-top: -5px;
}

/* misc */

.flex > .label {
    line-height: 1.2em;
}

.flex > .label > a {
    color: var(--white);
}

.flex > .label > a.inactive {
    text-decoration: line-through;
}
