.panel-title h1 {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 100%;
}

.panel-heading.panel-title {
    background: linear-gradient(to right, #3f2f73, #672929);
}

#main .breadcrumbs {
    padding-top: 4px;
    padding-bottom: 3px;
}

.turn-label a {
    color: var(--white);
    text-decoration: none;
}

a.assoc-arrow {
    color: var(--gray-3);
    text-decoration: none;
}

/* words index */

#words-table_wrapper .dataTables_paginate {
    margin-top: 1rem;
}

.dataTable {
    margin-bottom: 1rem !important;
}

.problems {
    color: indianred;
}

.avatar--big {
    width: 40px;
    height: 40px;
}
