<div class="social-links mt-2 mb-2">
    {#<a href="//twitter.com/warcry_ru" title="Мы в Twitter" class="hgap-2"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="//vk.com/warcry_ru" title="Наша группа ВКонтакте" class="hgap-2"><i class="fab fa-vk fa-2x"></i></a>#}
    <a href="https://github.com/kapxapot/associations" title="GitHub" class="hgap-2"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://trello.com/b/XNlTATWi/%D0%B0%D1%81%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D1%86%D0%B8%D0%B8" title="Trello" class="hgap-2"><i class="fab fa-trello fa-2x"></i></a>
</div>

<div>Все права защищены. &copy; {{ years_str }} <a href="mailto:{{ contact_email }}">{{ site_name }}</a></div>
<div>Сайт построен на <a href="https://github.com/kapxapot/plasticode">Plasticode</a></div>
