<div class="sidebar-links flex-wrapper mb-2">
    <div class="flex flex-align-center mb-1"><a href="https://t.me/{{ telegram_bot_name }}" class="mr-1"><i class="fab fa-telegram-plane fa-2x"></i></a><a href="https://t.me/{{ telegram_bot_name }}">Играть в Telegram</a></div>
    <div class="flex flex-align-center"><a href="{{ alice_url }}" class="mr-1">{% include 'svg/alice.twig' %}</a><a href="{{ alice_url }}">Играть в Яндекс.Алисе</a></div>
</div>

{% include 'main/includes/sidebar/language.twig' %}
